.App{
    /* Set rules to fill background */
    min-height: 100%;
        
    /* Set up proportionate scaling */
    width: 100%;
        
    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    background: url(./../../media/bnd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: auto;

    display: flex;
    flex-direction: column;
    text-align: center;

    .header{
        margin: 50px;
        font-size: 30px;
    }

}