.Gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    .picture{
        max-height: 300px;
        max-width: 300px;
        margin: 10px;
    }
}