.SearchBar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 500px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
    background: gray;
    outline: none;
    color: white;
    display: flex;
    align-items: center;

    .input{
        background: gray;
        border:none;
        outline: none;
        margin-left: 10px;
    }

    .img{
        font-size: 20px;
    }
}

::-webkit-input-placeholder {
    color: white;
}
